/*

    Theme Name:	Showcase Pro
	Theme URI: http://my.studiopress.com/themes/showcase/
	Description: This is the Showcase Pro Theme created for the Genesis Framework.
	Author: Bloom
	Author URI: http://www.designbybloom.co

	Version: 2.0.2

	Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.4

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	

*/

/* HTML 5 Reset
 * ========================================================================== */

/* Baseline Normalize - normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


/* Box Sizing
 * ========================================================================== */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
 * ========================================================================== */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.page-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.page-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

/* Utility
 * ========================================================================== */

.mobile-hide {
	visibility: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	position: absolute;
	display: none;
}

.text-center {
	text-align: center;
}

@media only screen and (min-width: 800px) {
	.mobile-hide {
		visibility: visible;
		position: relative;
		display: inherit;
	}

	.mobile-show {
		visibility: hidden;
		clip: rect(0px, 0px, 0px, 0px);
		position: absolute;
	}
}


/* Typography
 * ========================================================================== */

html {
  font-size: 62.5%;
}

body {
	color: #1a1a1a;
	background: #1a1a1a;
	font-family: "Hind", "Avenir", "Helvetica", arial;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.612;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 2rem;
  	font-weight: 300;
	letter-spacing: -0.02em;
}

/* Display */

h1,
.content .entry-title,
.site-title {
	font-size: 4rem;
  	font-weight: 300;
  	line-height: 1.2;
}

@media only screen and (min-width: 800px) {

	h1,
	.content .entry-title {
		font-size: 5rem;
	}

}

/* Headline */

h2 {
	font-size: 3.2rem;
  	line-height: 1.4;
  	font-weight: 300;
}

@media only screen and (min-width: 800px) {

	h2 {
		font-size: 4rem;
  	}
}

/* Title */

h3,
body.woocommerce-page ul.products li.product h3,
h1.archive-title {
	font-size: 2rem;
  	line-height: 1.4;
  	font-weight: 400;
}

@media only screen and (min-width: 800px) {
	h3,
	body.woocommerce-page ul.products li.product h3,
	h1.archive-title {
		font-size: 2.5rem;
	}
}

/* SubTitle */

h4,
.site-description {
	font-size: 1.8rem;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 400;
}

/* Mast */

h5,
.widget-title, .widgettitle,
.genesis-nav-menu a,
button, input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.archive.category .archive-title,
body.woocommerce-page #respond input#submit,
body.woocommerce-page a.button,
body.woocommerce-page button.button,
body.woocommerce-page input.button,
body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	font-size: 1.4rem;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

/* Caption */

h6,
.genesis-nav-menu .sub-menu a,
.entry-meta,
.wp-caption-text,
.gallery-caption,
.site-footer p,
.pagination a,
body.woocommerce-page nav.woocommerce-pagination ul li a,
body.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-MyAccount-navigation li a,
p.comment-meta,
.more-link.button {
	font-size: 1.2rem;
	line-height: 1.6;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


/* Small */

small,
.button.small {
  font-size: 1rem;
}


p {
	margin: 0 0 1.625em;
	padding: 0;
}

p.intro {
  font-size: 1.8rem;
  line-height: 1.8;
}

strong {
	font-weight: 700;
}

blockquote {
	margin: 2rem 0;
}

.entry-content blockquote {
	padding-left: 5rem;
	border-left: 2px solid #1a1a1a;
}

blockquote p:last-of-type {
	margin: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 0.8em;
	color: #555555;
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9
}

code {
	padding: 0.2rem 0.4rem;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 1rem;
	margin: 0 0 1rem;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 3rem;
  margin: 2rem auto;
}

cite {
	font-style: normal;
}

hr,
.clear-line {
	overflow: hidden;
	width: 100%;
	border: none;
	border-bottom: 1px solid #eee;
	margin: 0 0 4rem;
	padding: 4rem 0 0;
}

/* Links
 * ========================================================================== */

a {
	color: #1db3e2;
	text-decoration: none;
	outline: 0;
}

a:hover {
	border-color: transparent;
	text-decoration: underline;
}

/* Transitions
 * ========================================================================== */

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.button:after,
.button:before,
.genesis-nav-menu a,
.showcase-entry-grid .overlay,
.showcase-entry-grid .entry,
button.sub-menu-toggle:before,
body.woocommerce-page nav.woocommerce-pagination ul li a,
body.woocommerce-page nav.woocommerce-pagination ul li span {
	-webkit-transition: all .75s cubic-bezier(0, 1, .5, 1);
	-moz-transition:    all .75s cubic-bezier(0, 1, .5, 1);
	-ms-transition:     all .75s cubic-bezier(0, 1, .5, 1);
	-o-transition:      all .75s cubic-bezier(0, 1, .5, 1);
	transition:         all .75s cubic-bezier(0, 1, .5, 1);
}

@media only screen and (min-width: 800px) {
	.site-header,
	.genesis-nav-menu .sub-menu {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition:    all .2s ease-in-out;
		-ms-transition:     all .2s ease-in-out;
		-o-transition:      all .2s ease-in-out;
		transition:         all .2s ease-in-out;
	}

}

/* Selection
 * ========================================================================== */

::-moz-selection {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

::selection {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}


/* Objects
 * ========================================================================== */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

/* Forms, Inputs & Buttons
 * ========================================================================== */

input,
select,
textarea,
body.woocommerce-cart table.cart td.actions .coupon .input-text {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	color: #1a1a1a;
	padding: 1.2rem 2rem 1rem;
	width: 100%;
}

body.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: auto;
}

textarea {
	height: auto;
}

button,
.button,
textarea,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="password"],
input[type="url"],
input[type="text"],
input[type="search"],
input[type="email"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 1rem;
	width: auto;
}

input:focus,
textarea:focus,
body.woocommerce-cart table.cart td.actions .coupon .input-text:focus {
	outline: none;
	border-color: #1db3e2;
}

::-moz-placeholder {
	color: #d8d8d8;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #d8d8d8;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

/* Buttons
 * ========================================================================== */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.button,
.pagination:not(.adjacent-entry-pagination) a,
body.woocommerce-page nav.woocommerce-pagination ul li a,
body.woocommerce-page nav.woocommerce-pagination ul li span,
body.woocommerce-page #respond input#submit,
body.woocommerce-page a.button,
body.woocommerce-page button.button,
body.woocommerce-page button.button.alt,
body.woocommerce-page a.button.alt,
body.woocommerce-page input.button,
body.woocommerce-page button.button.alt.disabled,
body.woocommerce-page input.button.alt,
body.woocommerce-page input.button:disabled,
body.woocommerce-page input.button:disabled[disabled] {
	/*background-color: #1db3e2;*/
	background-color:#f9b134;
	border-radius: 5px;
	box-shadow: none;
	border: 0;
	color: #fff;
	line-height: 2em !important;
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-align: center;
	padding: 1.1rem 2rem 1rem;
	text-decoration: none;
	width: auto;
	white-space: nowrap;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.pagination li a:hover,
body.woocommerce-page #respond input#submit:hover,
body.woocommerce-page a.button:hover,
body.woocommerce-page button.button:hover,
body.woocommerce-page button.button.alt:hover,
body.woocommerce-page button.button.alt.disabled:hover,
body.woocommerce-page a.button.alt:hover,
body.woocommerce-page input.button:hover,
body.woocommerce-page input.button.alt:hover {
	background-color: #1db3e2;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	box-shadow: inset 0 0 0 20rem rgba(0,0,0,0.1), 0 2rem 2rem rgba(0,0,0,0.1);
}

.button.small {
	font-size: 1.4rem;
	padding: 0.8rem 2rem 0.5rem;
}

.button.light {
	background: #eeeeee;
	color: #1a1a1a;
}

.button.light:hover {
	color: #fff;
}

.bg-primary .button.light {
	background: rgba(255,255,255,0.2);
	color: #ffffff;
}

.bg-primary .button.light:hover,
.bg-secondary .button.light:hover {
	box-shadow: inset 0 0 0 20rem rgba(255,255,255,0.2);
}

.button.full-width {
	display: block;
	width: 100%;
}

.button.arrow-left:before,
.button.arrow-right:after {
	font-family: Ionicons;
	vertical-align: top;
}

.button.arrow-right:after {
	content: "\f30f";
	margin-left: 0.8rem;
}

.button.arrow-right:hover:after {
	margin-left: 1.2rem;
	margin-right: -0.4rem;
}

.button.arrow-left:before {
	content: "\f2ca";
	margin-right: 0.8rem;
}

.button.arrow-left:hover:before {
	margin-right: 1.2rem;
	margin-left: -0.4rem;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Gallery
 * ========================================================================== */

.gallery {
	margin: 0 auto 4rem;
	overflow: hidden;
	width: 100%;
}

.gallery-item {
	float: left;
	margin: 1rem 0 0;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 0.4rem;
}

.gallery-caption {
	margin-left: 0;
}


/* Tables
 * ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 0.6rem 0;
}

th {
	font-weight: 400;
}

/* Accessibility
 * ========================================================================== */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	background-color: #fff;
	border: 0;
	clip: rect(0, 0, 0, 0);
	color: #1a1a1a;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus  {
	border: 1px solid #5b5e5e;
	clip: auto !important;
	display: block;
	font-size: 1.8rem;
	font-weight: 700;
	height: auto;
	padding: 2rem;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	outline: 1px dotted rgba(0,0,0,0.2);
}

/* Wordpress Helper Classes
 * ========================================================================== */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 4rem;
}

img.alignnone,
.alignnone {
	margin-bottom: 2rem;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 6rem 4rem 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 4rem 6rem;
}

img.alignleft.entry-image,
img.alignright.entry-image {
	margin-bottom: 0;
}

.entry-content figure {
	margin: 6rem 0 4rem;
}

.wp-caption-text {
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 1rem;
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin-bottom: 3rem;
}

a[rel~="attachment"],
a[rel~="attachment"]:hover,
.gallery-item a,
.wp-audio-shortcode a,
.wp-audio-shortcode a:hover,
.wp-caption a,
.wp-caption a:hover,
.wp-playlist a,
.wp-playlist a:hover,
.wp-video a,
.wp-video a:hover {
	border-width: 0 !important;
}

/* Site Containers
 * ========================================================================== */

.showcase-landing {
	background: #fff;
}

.full-width-content .content,
body.woocommerce-account .woocommerce-MyAccount-content,
body.woocommerce-account .entry-content .woocommerce  {
	margin: 0 auto;
	max-width: 80rem;
	float: none;
}

.wrap {
	margin: 0 auto;
	padding: 0 5%;
}

.site-inner {
	clear: both;
	padding: 4rem 0;
	overflow: hidden;
	background: #fff;
}

.front-page .site-inner {
	padding: 0;
}

.full.full-width-content .content,
.woocommerce-page.full-width-content .content {
	max-width: 100%;
	width: 100%;
}

.title-center .entry-header .entry-title {
    text-align: center;
}

@media only screen and (min-width: 800px) {

	body:not(.with-page-header) .site-inner {
		padding-top: 18rem;
	}

}

@media only screen and (min-width: 1100px) {

	.content {
		float: right;
		width: 70%;
	}

	.content-sidebar .content {
		float: left;
	}

	.sidebar-primary {
		float: right;
		width: 25%;
	}

	.sidebar-content .sidebar-primary {
		float: left;
	}

	.wrap {
		max-width: 120rem;
	}

	.site-inner {
		padding: 8rem 0;
	}

}

@media only screen and (min-width: 1500px) {

	.wrap {
		max-width: 160rem;
	}

}

/* Grid
 * ========================================================================== */

@media only screen and (min-width: 800px) {

	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.footer-widgets .widget-area,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 3.448275862069%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.275862068966%;
	}

	.one-third,
	.two-sixths {
		width: 31.034482758621%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.51724137931%;
	}

	.one-fourth,
	.footer-widgets .widget-area {
		width: 22.413793103448%;
	}

	.three-fourths {
		width: 74.137931034483%;
	}

	.one-fifth {
		width: 17.241379310345%;
	}

	.two-fifths {
		width: 37.931034482759%;
	}

	.three-fifths {
		width: 58.620689655172%;
	}

	.four-fifths {
		width: 79.310344827586%;
	}

	.one-sixth {
		width: 13.793103448276%;
	}

	.five-sixths {
		width: 82.758620689655%;
	}

	.first,
	.footer-widgets .widget-area:first-child {
		clear: both;
		margin-left: 0;
	}

	.only {
		float: none;
		margin: 0 auto;
	}
}

/* Front Page Widgets
 * ========================================================================== */

.flexible-widget-area > .wrap {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.flexible-widgets .widget {
	margin-bottom: 2rem;
}

.flexible-widgets .widget:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 800px) {

	.flexible-widget-area > .wrap {
		padding-top: 6.5%;
		padding-bottom: 6.5%;
	}

	.flexible-widgets,
	.front-page .featured-content.widget .widget-wrap {
		margin-left: -2rem;
		margin-right: -2rem;
		width: calc( 100% + 4rem );
	}

	.front-page .featured-content .widgettitle {
		margin-left: 2rem
	}

	.flexible-widgets .widget,
	.front-page .featured-content.widget .entry {
		float: left;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.flexible-widgets.widget-full .widget,
	.flexible-widgets.widget-area .widget:nth-of-type(1),
	.flexible-widgets.widget-halves.uneven .widget:last-of-type {
		width: 100%;
	}

	.flexible-widgets.widget-fourths .widget {
		width: 25%;
	}

	.flexible-widgets.widget-halves .widget {
		width: 50%;
	}

	.flexible-widgets.widget-thirds .widget,
	.front-page .featured-content.widget .entry {
		width: 33.33%;
	}

	.flexible-widgets.widget-halves .widget:nth-child(even),
	.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
	.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
		clear: left;
	}

	.page-header .widget-wrap {
		text-align:left;
		width:50%;
	
	}

	.front-page-1 .wrap {
		/*padding-left:12%; */
	}

}

/* Front Page 2
 * ========================================================================== */

.front-page-2 {
	text-align: center;
	background: #fff;
}

/* Front Page 3
 * ========================================================================== */

.front-page-3 {
	background-color: #f7f6f7;
	overflow: hidden;
}

.front-page-3 .widget-area {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	position: relative;
}

.front-page-3 .widget img.pull-left {
    margin-left: -25%;
}

.front-page-3 .widget img.pull-right {
    margin-right: -25%;
}

.front-page-3 .widget img.pull-right,
.front-page-3 .widget img.pull-left {
	max-width: 150%;
	width: auto;
	margin-bottom: -50%;
	margin-top: 20px;
}

@media only screen and (min-width: 800px) {

	.front-page-3 .flexible-widgets.widget-halves .widget,
	.front-page-3 .widget {
		width: 50%;
		float: left;
		align-self: center;
	}

	.front-page-3 .widget img.pull-left,
	.front-page-3 .widget img.pull-right {
	    margin-bottom: -30%;
	    margin-top: -30%;
	    pointer-events: none;
	}
}


/* Front Page 4
 * ========================================================================== */

.front-page-4 {
	text-align: center;
}

.front-page-4 a,
.front-page-4 {
	color: #fff;
}

.front-page-4 blockquote {
	font-size: 2rem;
	font-weight: 300;
	font-style: normal;
	margin: 2rem auto 2.1rem auto;
}

.front-page-4 .widget-title {
	font-size:2.4rem;
}

.front-page-4 h5 {
    font-size:2.1rem;
}

@media only screen and (min-width: 800px) {
	.front-page-4 blockquote {
		font-size: 2.4rem;
		max-width: 75%;
	}

	
}

/* Front Page 5
 * ========================================================================== */

.front-page-5 {
	background: #fff;
}

 .front-page-5 .widget:nth-of-type(1) {
 	text-align: center;
 }
/* only have 2 ppl to start. center aligns */
 .front-page-5 .showcase-entry-grid {
	 display:flex;
	 justify-content:center;
 }


/* Widgets
 * ========================================================================== */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 2rem;
	text-indent: -2rem;
}

.widget li li {
	border: 0;
	margin: 0 0 0 3rem;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Testimonials
 * ========================================================================== */

.lSAction {
	display: none !important;
}

#gts-testimonials .lSSlideOuter .lSPager.lSpg > li a {
	background-color: #555;
}

#gts-testimonials .lSSlideOuter .lSPager.lSpg>li.active a,
#gts-testimonials .lSSlideOuter .lSPager.lSpg>li:hover a {
	background-color: #1db3e2;
}

/* Icons
 * ========================================================================== */

.icon {
	font-size: 6rem;
	margin: 0 0 2rem;
	color: #1db3e2;
}


/* Featured Content
 * ========================================================================== */

.featured-content.widget .entry {
	border-bottom-width: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

/* Breadcrumbs
 * ========================================================================== */

.breadcrumb {
	margin-bottom: 1.6rem;
}


/* Plugins
 * ========================================================================== */

/* Genesis eNews Extended */

.enews-widget input {
	margin-bottom: 1rem;
}

.enews-widget p {
	margin-bottom: 2rem;
}

.enews form + p {
	line-height: 1.5;
	margin-top: 3rem;
}

/* Genesis Simple Share */

.content .share-after {
	margin-bottom: 2rem;
}

.content a.count,
.content a.count:hover,
.content a.count:focus,
.content a.share,
.content a.share:hover,
.content a.share:focus {
	border: none;
	font-weight: 400;
}

.content .share-filled .share {
	border-radius: 0;
}

.content .share-filled .count {
	border-radius: 0;
}

.content .share-filled .facebook .count,
.content .share-filled .facebook .count:hover,
.content .share-filled .googlePlus .count,
.content .share-filled .googlePlus .count:hover,
.content .share-filled .linkedin .count,
.content .share-filled .linkedin .count:hover,
.content .share-filled .pinterest .count,
.content .share-filled .pinterest .count:hover,
.content .share-filled .stumbleupon .count,
.content .share-filled .stumbleupon .count:hover,
.content .share-filled .twitter .count,
.content .share-filled .twitter .count:hover {
	color: #1a1a1a;
	border: 1px solid #1a1a1a;
}

.content .share-filled .facebook .share,
.content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus .share,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin .share,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest .share,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon .share,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter .share,
.content .share-filled .twitter:hover .count {
	background: #1a1a1a !important;
}

.content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter:hover .count {
	color: #fff;
}

/* Jetpack */

#wpstats {
	display: none;
}

/* Widget Custom Menu
 * ========================================================================== */

.widget_nav_menu .sub-menu {
	margin-top: 1.6rem;
}

/* WooCommerce
 * ========================================================================== */

body.woocommerce-page nav.woocommerce-pagination ul li a,
body.woocommerce-page nav.woocommerce-pagination ul li span,
body.woocommerce-page .woocommerce-message::before,
body.woocommerce-page .woocommerce-info::before,
body.woocommerce-page div.product p.price,
body.woocommerce-page div.product span.price,
body.woocommerce-page ul.products li.product .price,
body.woocommerce-page form .form-row .required,
.woocommerce-MyAccount-navigation li a {
	color: #1a1a1a;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background: #f7f6f7;
	border-bottom: 0;
	margin: 0 -1px 0 0;
	padding: 0;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	padding: 1.5rem 2rem;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs:before,
body.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
body.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  	display: none;
}

body.woocommerce-page .woocommerce-message,
body.woocommerce-page .woocommerce-info,
body.woocommerce-page .woocommerce-error {
 	border: 0;
  	margin-top: 2rem !important;
	line-height: 5rem;
}

body.woocommerce-page span.onsale,
body.woocommerce-page ul.products li.product .onsale {
	border-radius: 0;
	top: 0;
	left: 0;
	right: auto;
	margin: 0;
	padding: 0 1rem;
	background: #1a1a1a;
}

body.woocommerce ul.cart_list li,
body.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {
 	background: none;
 	border: none;
 	float: left;
 	padding: 0.5rem !important;
 	width: 50%;
}

body.woocommerce ul.cart_list li img, body.woocommerce ul.product_list_widget li img {
 	width: 100% !important;
}

.woocommerce-cart .entry-content p:first-child::first-letter,
.woocommerce-checkout .entry-content p:first-child::first-letter {
 	float: none;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

.woocommerce-checkout #payment ul.payment_methods li {
 	list-style: none;
}

.woocommerce-page input[type="checkbox"],
.woocommerce-page input[type="radio"] {
 	width: auto;
}

body.woocommerce ul.products li.product .price del,
body.woocommerce div.product p.price del,
body.woocommerce div.product span.price del {
	display: inline !important;
}

select.orderby {
 	margin-bottom: 2rem;
}

.stars a,
.star-rating span:before {
	color: #ffb35e !important;
}

.woocommerce .quantity .qty {
	padding: 1.2rem 1rem 1rem;
}

.woocommerce form .form-row label.inline {
	margin-left: 2rem;
}

/* Search Form
 * ========================================================================== */

.search-form {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}

.search-form:after {
	content: "\f4a4";
	position: absolute;
	right: 1.5rem;
	top: 0;
	font-family: ionicons;
	font-size: 3rem;
	pointer-events: none;
	color: #dcdcdc;
}

.search-form input[type="search"] {
	width: 100%;
	padding: 1rem 2.8rem 0.9rem 1.2rem;
	font-size: 1.6rem;
}

.search-form input[type="submit"] {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	text-indent: -9999px;
	border-color: transparent !important;
	background: transparent !important;
}

.search-form input[type="submit"]:hover {
	box-shadow: none;
}

@media only screen and (min-width: 800px) {

	.search-form {
		width: auto;
		margin-bottom: 4rem;
	}

}


/* Site Header
 * ========================================================================== */

.site-header,
.header-image .site-header {
	width: 100%;
	z-index: 999;
	padding: 2rem 0;
	position: relative;
	background: black;
}

.title-area {
	float: left;
}

.site-title {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 5rem;
	margin: 0 auto;
}

.site-title a {
	color: #1a1a1a;
	text-decoration: none;
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.header-image .site-title > a {
	background-position: center center !important;
	background-size: contain !important;
	float: left;
	height: 5rem;
	width: 14rem;
	/*background-image: url(images/logo_dark.png); */
	background-image:url(wp-content/uploads/2019/03/mri-logo_400x150.png);
}

@media only screen and (min-width: 800px) {
	body.with-page-header.header-image:not(.header-scroll) .site-title a {
		/*background-image: url(images/logo_light.png) !important;*/
		background-image:url(wp-content/uploads/2019/03/mri-logo_400x150.png) no-repeat !important;
	}
}


.header-image .title-area {
	margin: 0;
	width: 14rem;
}

.site-description {
	display: none;
}

@media only screen and (min-width: 800px) {

	.site-header,
	.header-image .site-header {
		/*padding: 3rem 0 2.5rem;*/
		padding:0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		/*background: transparent;*/
	}

	.admin-bar .site-header {
		top: 32px;
	}

	.header-scroll .site-header {
		background: black;
		padding: 0;
		box-shadow: 0 0 2rem rgba(0,0,0,0.05);
	}

	.site-header .wrap {
		max-width: none;
	}

	.site-title {
		font-size: 3.2rem;
		line-height: 8rem;
	}

	.header-image .site-title > a {
		height: 7.5rem;
		width: 20rem;
	}

	.header-image .title-area {
		width: 20rem;
	}

	.with-page-header .site-title a {
		color: #fff;
	}

	.header-scroll .site-title a {
		color: white;
	}

	.header-scroll .site-header .genesis-nav-menu .menu-item.highlight a {
		border: 2px solid #1a1a1a;
		color: white;
	}
}

/* Navigation
 * ========================================================================== */

.genesis-nav-menu li {
	display: inline-block;
	list-style: none;
	position: relative;
}

.genesis-nav-menu a {
	border: none;
	display: block;
	margin: 0 1.6rem 0;
	position: relative;
	opacity: 0.8;
    /*color: #1a1a1a;*/
    color:white;
}

.genesis-nav-menu li a:hover,
.genesis-nav-menu .menu-item a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	text-decoration: none;
	opacity: 1;
}

@media only screen and (min-width: 800px) {

	.with-page-header .genesis-nav-menu a,
	.with-page-header .genesis-nav-menu .menu-item.highlight a {
		color: #fff;
	}

	.header-scroll .site-header .genesis-nav-menu a {
		color: white;
	}

	.genesis-nav-menu .menu-item.highlight a {
		background: transparent;
		border: 2px solid #1a1a1a;
		border-radius: 5px;
		line-height: 1;
		padding: 1rem 2rem 0.8rem;
	}

	.with-page-header .genesis-nav-menu .menu-item.highlight a {
		border: 2px solid #fff;
	}

	.genesis-nav-menu .menu-item.highlight a:hover {
		background: #fff;
		color: #1a1a1a;
	}

	.genesis-nav-menu .sub-menu {
		width: 18rem;
		z-index: 99;
		background: #fff;
		box-shadow: 0 2rem 2rem -0.05rem rgba(0,0,0,0.1);
		border-radius: 5px;
		opacity: 0 !important;
		margin-top: 0;
		position: absolute;
		left: 0;
		margin-left: 2rem;
		pointer-events: none;
		text-align: left;
		display: block !important;
	}

	.genesis-nav-menu > li .sub-menu:before {
		content: " ";
		position: absolute;
		top: -0.5rem;
		left: 1.6rem;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		opacity: 1 !important;
		pointer-events: all;
	}

	.genesis-nav-menu > .menu-item:hover > .sub-menu {
		margin-top: -1rem;
	}

	.genesis-nav-menu .sub-menu li a {
		border-top: none;
		padding: 0.8rem 1.6rem;
		margin: 0;
		color: #1a1a1a;
		width: 100%;
	}

	.genesis-nav-menu .sub-menu li {
		width: 100%;
	}

	.genesis-nav-menu .sub-menu li:first-child > a {
		padding-top: 1.6rem;
	}

	.genesis-nav-menu .sub-menu li:last-child a {
		padding-bottom: 1.2rem;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: 0 0 0 17.8rem;
		top: 0;
	}

	.genesis-nav-menu .sub-menu .sub-menu:before {
		display: none;
	}
}

/* Responsive Menu */

button.sub-menu-toggle,
button.menu-toggle {
	display: none;
	visibility: hidden;
	background: transparent !important;
	color: transparent;
}

@media only screen and (max-width: 800px) {

	button.sub-menu-toggle,
	button.menu-toggle {
		display: block;
		visibility: visible;
	}
	

	.nav-primary,
	.nav-primary .sub-menu {
		width: 100%;
		display: none;
	}

	button.menu-toggle {
		display: block;
		float: right;
		background: none;
		padding:0;
		overflow: hidden;
		width: 50px;
		height: 50px;
		position: relative;
	}

	button.menu-toggle:hover,
	button.menu-toggle:active,
	button.menu-toggle:focus,
	button.sub-menu-toggle:hover,
	button.sub-menu-toggle:active,
	button.sub-menu-toggle:focus {
		box-shadow: none;
	}

	button.menu-toggle:before {
		position: absolute;
		color: #1a1a1a;
		top: 1rem;
		right: 1.2rem;
		display: inline-block;
		font-size: 3rem;
		margin: 0 auto;
		padding: 0;
	}

	button.menu-toggle.activated::before {
	   content: "\f2d7";
	   right: 1.5rem;
	}

	button.sub-menu-toggle {
		position: absolute;
		right: 0;
		top: 0;
		background: transparent;
		padding: 0 1.25rem 0;
	}

	button.sub-menu-toggle:before {
		color: #1a1a1a;
		font-size: 16px;
		padding: 14px 5px 14px;
		cursor: pointer;
	}

	button.sub-menu-toggle.activated:before {
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.nav-primary .genesis-nav-menu li {
		width: 100%;
	}

	.nav-primary .genesis-nav-menu > li:first-child {
		margin-top: 20px;
	}

	.nav-primary .genesis-nav-menu li .sub-menu {
		margin: 0 0 0 24px;
		width: calc( 100% - 24px );
	}

	.nav-primary .genesis-nav-menu a {
		margin: 0 4rem 0 0;
		padding: 1rem 0;
	}

	button.ion-android-menu:before {
		color:white;
	}

}

@media only screen and (min-width: 800px) {

	.nav-primary {
		text-align: right;
	}

	.bg-primary .nav-primary {
		padding-bottom: 22px;
	}

	.nav-primary .genesis-nav-menu > li > a {
		margin: 0 0 0 24px;
		padding: 3rem 0;
	}

	.nav-primary .genesis-nav-menu > li.left {
		float: left;
	}

	.nav-primary .genesis-nav-menu > li.menu-item-has-children > a:after {
	    top: 18px;
	}
}

@media only screen and (min-width: 1100px) {

	.nav-primary .genesis-nav-menu > li > a {
		margin: -2px 0 0 36px;
	}
}

/* Sub Nav
 * ========================================================================== */

.nav-secondary {
	text-align: center;
	overflow: hidden;
	width: 100%;
	padding: 0;
	position: relative;
	z-index: 99;
}

.nav-secondary .wrap {
	padding: 0;
}

.nav-secondary .genesis-nav-menu {
	padding: 1.6rem 0;
	margin-bottom: -1.6rem;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-secondary .genesis-nav-menu li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1rem;
	padding: 4px;
}

.nav-secondary ul li:first-child {
	margin-left: 5%;
	padding-left: 0;
}

.nav-secondary ul li:last-child {
	margin-right: 5%;
	padding-right: 0;
}

.nav-secondary .genesis-nav-menu li a {
	opacity: 0.8;
	padding: 2rem 0;
	margin: 0;
}

.nav-secondary .genesis-nav-menu li.current-menu-item a {
	opacity: 1;
}

.nav-secondary .genesis-nav-menu li.current-menu-item a:after {
	content: " ";
	border-bottom: 5px solid #333;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

@media only screen and (min-width: 800px) {
	.nav-secondary {
		width: 100%;
	}
}

@media only screen and (min-width: 1023px) {

	.nav-secondary .genesis-nav-menu li {
		margin: 0 12px;
	}

	.nav-secondary ul li:first-child {
		margin-left: 0;
	}

	.nav-secondary ul li:last-child {
		margin-right: 0;
	}

}

/* WooCommerce Account Nav
 * ========================================================================== */

body.woocommerce-account .entry-title {
	text-align: center;
}

body.woocommerce-account .woocommerce-MyAccount-navigation {
	text-align: center;
	width: 100%;
	float: none;
}

body.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	float: none;
	max-width: 80rem;
	margin: 0 auto;
}

.woocommerce-MyAccount-navigation ul {
	margin: 0 0 4rem !important;
}

.woocommerce-MyAccount-navigation li {
	display: block;
	list-style: none;
}

.woocommerce-MyAccount-navigation li a {
	text-decoration: none;
	padding: 1rem;
	display: inline-block;
}

@media only screen and (min-width: 800px) {

	.woocommerce-MyAccount-navigation li {
		display: inline-block;
	}
}


/* Pagination
 * ========================================================================== */

.pagination,
body.woocommerce-page nav.woocommerce-pagination {
	margin: 4rem auto;
	text-align: center;
}

.pagination.adjacent-entry-pagination {
	padding: 4rem 0;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.pagination.adjacent-entry-pagination .pagination-previous,
.pagination.adjacent-entry-pagination .pagination-next {
	float: none;
	text-align: center;
	padding: 2rem 0;
}

.pagination ul,
body.woocommerce-page nav.woocommerce-pagination ul {
	display: inline-block;
}

.pagination li,
body.woocommerce-page nav.woocommerce-pagination ul li {
	border-radius: 0;
	margin: 2px;
	list-style-type: none;
	display: block;
	float: left;
}

.pagination .pagination-omission {
	border: 0;
}

.pagination:not(.adjacent-entry-pagination) li a {
	display: block;
	padding: 1rem 1.5rem 0.8rem;
	text-decoration: none;
	color: #1a1a1a;
	border-radius: 5px;
	background: transparent;
}

.pagination li a:hover,
.pagination li.active a,
body.woocommerce-page nav.woocommerce-pagination ul li span.current {
	background: #1db3e2;
	color: #fff;
}

@media only screen and (min-width: 800px) {
	.pagination.adjacent-entry-pagination .pagination-previous {
		float: left;
		text-align: left;
		padding: 2rem 0;
	}

	.pagination.adjacent-entry-pagination .pagination-next {
		float: right;
		text-align: right;
		padding: 2rem 0;
	}
}

/* Background Images and Colors
 * ========================================================================== */

.with-background-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.with-background-image:after {
	-ms-filter: "alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.30;
}

.bg-primary,
.bg-primary a {
	color: #fff;
}

[class*="bg-"],
[class*="bg-"] .wrap {
	position: relative;
	z-index: 2;
}

.bg-primary:after,
.bg-light-gray:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.bg-primary:after {
	background: #1a1a1a;
}

.bg-light-gray:after {
	background: #dcdcdc;
}

/* Page Header
 * ========================================================================== */

.page-header {
	padding: 8rem 0;
	position: relative;
	text-align: center;
	color: #fff;
	background-color: #1a1a1a;
}

.page-header h1,
.page-header .author-box-title {
	line-height: 1.2;
	font-size: 40px;
	display: inline-block;
}

.page-header h1:last-child {
	margin-bottom: 0;
}

.page-header p {
	/*font-size: 2.4rem;*/
	font-size:20px;
	max-width: 74rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:1.6em;
}

.page-header p:last-child {
	margin-bottom: 0;
}

.page-header a:not(.button) {
	opacity: .5;
}

.page-header a:hover:not(.button) {
	opacity: 1;
}

@media only screen and (min-width: 800px) {

	.page-header {
		padding: calc(7% + 10.8rem) 0 7%;
	}

	.home .page-header {
        padding: calc(10% + 10.8rem) 0 10%;
        margin-top:83px;
	}

	.page-header h1,
	.page-header .author-box-title {
		font-size: 4rem;
	}

	.page-header .entry-meta {
		font-size: 1.6ren;
	}

}

/* Pricing Table
 * ========================================================================== */

.pricing-table,
.pricing-table > * {
	display: flex;
	flex-wrap: wrap;
}

.pricing-table > * {
	align-self: stretch;
}

.pricing-table > * > * {
	align-self: stretch;
	flex-grow: 1;
	width: 100%;
}

.pricing-table .plan {
	box-shadow: inset 0 0 0 2px #f0f0f0;
	text-align: center;
	padding: 40px 20px 20px;
	margin: 0 0 40px;
	width: 100%;
	position: relative;
	transition: all .2s ease-out;
	font-size: 14px;
	margin-bottom: 40px;
}

.pricing-table .plan em {
	opacity: .5;
	margin-bottom: 20px;
	display: block;
}

.pricing-table .plan h3 {
	color: #1db3e2;
}

.pricing-table .plan h3 span {
	font-size: .66em;
}

.pricing-table .plan ul {
	margin: 0 0 40px;
	line-height: 2;
}

.pricing-table .plan ul li {
	list-style: none;
}

.pricing-table .plan p {
	padding-left: 2rem;
	padding-right: 2rem;
	z-index: 3;
	align-self: flex-end;
}

.pricing-table .plan ul.small {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.07em;
	margin-bottom: 2rem;
	opacity: 0.75;
}


.pricing-table .plan.featured {
	background: #fff;
	box-shadow: 0 0 0 4px #1db3e2;
	z-index: 2;
	border-radius: 5px;
}

@media only screen and (min-width: 800px) {

	.pricing-info {
		padding-top: 8rem;
	}

	.pricing-table .plan {
		margin-bottom: 4rem !important;
	}

	.pricing-table .plan.one-fourth {
		width: 50%;
		margin: -2px 0 0 -2px;
	}

	.pricing-table .plan.one-fourth:first-child,
	.pricing-table .plan.one-fourth:nth-child(3) {
		margin-left: 0;
	}

	.pricing-table .plan.one-third {
		width: 33%;
		margin: 0 0 0 -2px;
	}

	.pricing-table .plan.one-third:first-child {
		margin-left: 0;
	}
}

@media only screen and (min-width: 1100px) {

	.pricing-table .plan.one-fourth {
		width: 25%;
		margin: 0 0 0 -2px;
	}

	.pricing-table .plan.one-fourth:first-child {
		margin-left: 0;
	}

	.pricing-table .plan.one-fourth:nth-child(3) {
		margin-left: -2px;
	}
}


/* Archives
 * ========================================================================== */

.archive-description {
	margin-bottom: 4rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px solid #dcdcdc;
}

/* Entries
 * ========================================================================== */

.entry {
	margin-bottom: 1em;
}

.page-template-page_blog .entry,
.blog .entry,
.archive .entry:not(.product),
.single-post .entry {
	margin-bottom: 4rem;
	padding: 4rem 0;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
}

.page-template-page_blog .entry:last-child,
.blog .entry:last-child,
.archive .entry:last-child {
	border-bottom-width: 0px;
}

.single-post .entry:first-child {
	padding: 0;
	border-bottom: 0;
	margin-bottom: 0;
}

.page-template-page_blog .blog-template-description {
	display: none;
}

.entry-title a {
	color: #1a1a1a;
}

.entry-content ol,
.entry p,
.entry-content p,
.author-box p,
.entry-content ul,
.entry ul,
.entry ol,
.entry-content .wp-video,
.entry-content .wp-audio-shortcode,
.entry-content .video-player,
.quote-caption {
	margin-bottom: 2em;
	line-height: 2;
}

.entry-content ol,
.entry ol,
.entry-content ul,
.entry ul {
	margin-left: 4rem;
}

.single .entry-content p.intro,
.page:not(.page-template-page_blog) .entry-content p.intro {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
}

.single .entry-content p.intro:after,
.page .entry-content p.intro:after {
    content: " ";
    border-bottom: 1px solid #dcdcdc;
    margin: 4rem auto;
    display: block;
}

.post-image.entry-image {
	margin-bottom: 4rem;
}

.entry-content .gform_wrapper ul.gform_fields {
	margin: 0 0 3rem;
}

.entry-content ol li,
.entry ol li {
	list-style-type: decimal;
}

.entry-content ul li,
.entry ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry ol ol,
.entry-content ul ul,
.entry ul ul {
	margin-bottom: 0;
}

.entry-content ul.list-unstyled,
.entry-content ol.list-unstyled {
	margin-left: 2rem;
}

.entry-content ul.list-unstyled > li,
.entry-content ol.list-unstyled > li,
.entry-content .gform_wrapper ul li {
	list-style: none;
}

/* Author Box
 * ========================================================================== */

.single .author-box {
	margin: 4rem auto 4rem;
	text-align: center;
	position: relative;
}

.single .author-box .author-box-title {
	margin: 0;
}

.author-box .avatar,
body.woocommerce-page img.avatar {
	max-width: 8rem;
	height: 8rem;
	width: 8rem;
	border-radius: 4rem;
	margin-bottom: 2rem;
}

@media only screen and (min-width: 800px) {

	.single .author-box {
		padding-left: 10rem;
		text-align: left;
	}

	.author-box .avatar {
		position: absolute;
		left: 0;

	}
}


/* Entry Grid
 * ========================================================================== */

.showcase-entry-grid .entry {
	overflow: hidden;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 0;
	position: relative;
	text-align: center;
	border: 0;
}

.showcase-entry-grid .entry:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 2rem 2rem -1rem rgba(0,0,0,0.25);
}

.showcase-entry-grid .entry a {
	border: 0;
	overflow: hidden;
	color: #fff;
}

.showcase-entry-grid .entry img {
	display: block;
}

.overlay {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	-ms-filter: "alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 0;
}

.overlay:hover {
	-ms-filter: "alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.overlay-inner  {
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
}

.overlay-details {
	display: table-cell;
	padding: 1.6rem;
	vertical-align: middle;
	position: relative;
	z-index: 3;
}

@media only screen and (max-width: 800px) {

	.showcase-entry-grid {
		margin-left: -1rem;
		margin-right: -1rem;
		width: calc( 100% + 2rem );
	}

	.showcase-entry-grid .entry {
		width: calc( 50% - 2rem );
		float: left;
		margin: 1rem;
	}
}


/* Comments
 * ========================================================================== */


.comment-respond,
body.woocommerce #review_form #respond,
body .woocommerce form.checkout_coupon,
body .woocommerce form.login,
body .woocommerce form.register,
body .woocommerce-MyAccount-content form {
	background: #f7f6f7;
	border: 0;
    padding: 2rem 2rem 1rem;
	margin-bottom: 4rem;
    border-radius: 5px;
}

.entry-comments,
.entry-pings {
	padding: 4rem 0 0;
}

p.comment-meta,
.entry-comments .comment,
.entry-comments .comment-reply {
	margin-bottom: 4rem;
}

.entry-comments .comment {
	padding: 2rem 0;
	border-bottom: 1px solid #dcdcdc;
}

.entry-comments .comment:last-child {
	margin-bottom: 0;
	border: 0;
}

.comment-list .comment-respond {
	padding-left: 0;
}

.comment-header {
	line-height: 1;
}

.comment-author {
	margin: 6px 0 2px;
}

.comment-author span:first-of-type {
	font-weight: 700;
}

.comment-author .avatar {
	float: left;
	margin-right: 1.6rem;
	margin-bottom: 1.6rem;
	border-radius: 2.4rem;
	margin-top: -0.6rem;
}

.comment-autor, .comment-meta a {
	text-transform: uppercase;
}

.comment-meta a {
	font-size: 1.2rem;
}

.comment-edit-link {
	margin-bottom: 2rem;
	display: inline-block;
}

.comment-notes,
.entry-pings .reply {
	display: none;
}

.comment-form p label {
	font-weight: bold;
}

p.comment-form-comment {
	margin-bottom: 2rem;
}

.comment-list li {
	list-style-type: none;
}

.comment-reply-title small {
	font-size: 1.8rem;
	font-weight: 400;
}

.entry-comments ul.children {
	margin-left: 4rem;
}

.ping-list .reply {
	display: none;
}

@media only screen and (min-width: 800px) {
	.comment-respond,
	body.woocommerce #review_form #respond,
	body .woocommerce form.checkout_coupon,
	body .woocommerce form.login,
	body .woocommerce form.register,
	body .woocommerce-MyAccount-content form {
		padding: 4rem 4rem 3rem;
		margin-bottom: 0;
	}
}

/* Widget Areas
 * ========================================================================== */

.sidebar .widget {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

.sidebar .widget:last-child {
	border-bottom: 0;
}

.widget-area ul li {
	list-style-type: none;
	margin-bottom: 1.6rem;
}

/* Before Footer Widget Area
 * ========================================================================== */

.before-footer {
	background: #f7f6f7;
	padding: 6rem 0;
}

@media only screen and ( min-width: 800px ) {

	.before-footer {
		padding: 10rem 0;
	}

	.before-footer .enews form {
		margin-left: -1rem;
		margin-right: -1rem;
		width: calc( 100% + 2rem );
	}

	.before-footer .enews form input {
		margin: 0 1rem;
		width: calc( 25% - 2rem );
		float: left;
	}
}


/* Footer Widgets
 * ========================================================================== */

.footer-widgets {
	padding: 6rem 0 0;
	background: #1a1a1a;
	color: #fff;
}

.footer-widgets .widget-area {
	margin-bottom: 4rem;
}

.footer-widgets a:not(.button) {
	color: #fff;
	opacity: .5;
}

.footer-widgets a:not(.button):hover {
	opacity: 1;
}

.footer-widgets .widgettitle {
	opacity: 1;
	text-transform: none;
	letter-spacing: 0;
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 3rem;
}

.footer-widgets .simple-social-icons ul {
	margin-top: 1rem !important;
}

.footer-widgets .simple-social-icons ul li {
	margin: 0px 2.4rem 1.2rem 0 !important;
}

.footer-widgets .simple-social-icons ul li a {
	padding: 0px !important;
	border: 0px !important;
}

@media only screen and (min-width: 800px) {

	.footer-widgets {
		padding: 10rem 0 0;
	}

	.footer-widgets .widgettitle {
		margin-bottom: 6rem;
	}
}


/* Site Footer
 * ========================================================================== */

.site-footer {
	padding: 4rem 0;
	background: #1a1a1a;
	text-align: center;
	color: #fff;
	opacity: .5;
}

.site-footer a {
	color: #fff;
}

.site-footer p {
	margin-bottom: 0;
}


/* Bio Page (single Page Template)
 * ========================================================================== */
/*
.bio-page .before-footer {
	display:none;
} */

.bio__img {
	max-width:300px; 
	float:none; 
	margin-left:0;
	margin-bottom:0.6em;
}

@media only screen and (min-width: 800px) {
	.bio__img {
		max-width:300px; 
		float:right; 
		margin-left: 5%;
		
	}
}